In [2]:
import pandas as pd
import sqlite3
from pathlib import Path

DB_PATH = Path("../data/sqlite/retail.db")
PROCESSED = Path("../data/processed")
PROCESSED.mkdir(parents=True, exist_ok=True)

conn = sqlite3.connect(DB_PATH)

order_products = pd.read_sql("SELECT * FROM order_products;", conn)

order_products.head()

,order_id,user_id,order_date,order_dow,order_hour,product_id,product_name,department,quantity,reordered
0,1,101,2024-01-03,2,10,101,Organic Bananas,Produce,2,0
1,2,102,2024-01-03,2,11,102,Whole Milk,Dairy,1,0
2,3,101,2024-01-05,4,9,101,Organic Bananas,Produce,3,1
3,4,103,2024-01-06,5,14,103,Brown Eggs,Dairy,1,0
4,5,104,2024-01-06,5,16,104,Strawberries,Produce,2,0

In [6]:
order_products_clean = order_products.copy()

# reordered column cleaning
order_products_clean["reordered"] = (
    order_products_clean["reordered"]
    .fillna(0)
    .astype(int)
)

# tipos (defensivo)
order_products_clean["product_id"] = order_products_clean["product_id"].astype(int)
order_products_clean["quantity"] = order_products_clean["quantity"].astype(int)

order_products_clean.head()

,order_id,user_id,order_date,order_dow,order_hour,product_id,product_name,department,quantity,reordered
0,1,101,2024-01-03,2,10,101,Organic Bananas,Produce,2,0
1,2,102,2024-01-03,2,11,102,Whole Milk,Dairy,1,0
2,3,101,2024-01-05,4,9,101,Organic Bananas,Produce,3,1
3,4,103,2024-01-06,5,14,103,Brown Eggs,Dairy,1,0
4,5,104,2024-01-06,5,16,104,Strawberries,Produce,2,0

In [8]:
order_products_clean.to_csv(PROCESSED / "order_products_clean.csv", index=False)

print("Data saved successfully to:")
print(f"  - {PROCESSED / 'order_products_clean.csv'}")

Data saved successfully to:
  - ../data/processed/order_products_clean.csv

In [10]:
order_products_clean.to_sql("order_products_clean", conn, if_exists="replace", index=False)

print("Cleaned data saved to database:")
print(f"  - Table: order_products_clean")

conn.close()

Cleaned data saved to database:
  - Table: order_products_clean