In [3]:
import pandas as pd
import sqlite3
from pathlib import Path

DB_PATH = Path("../data/sqlite/retail.db")
SQL_DIR = Path("../sql")
PROCESSED = Path("../data/processed")
PROCESSED.mkdir(parents=True, exist_ok=True)

conn = sqlite3.connect(DB_PATH)

def run_sql(filename: str) -> pd.DataFrame:
    q = (SQL_DIR / filename).read_text()
    return pd.read_sql(q, conn)

In [8]:
top_products = run_sql("01_top_products.sql")
top_products

      product_name  units_sold  orders_count
0  Organic Bananas          15             6
1      Pasta Penne           7             3
2       Whole Milk           6             4
3     Strawberries           5             3
4     Avocado Hass           4             3
5    Ground Coffee           3             3
6      Almond Milk           3             2
7   Chicken Breast           3             2
8       Brown Eggs           2             2
9     Greek Yogurt           2             2

In [13]:
top_products.to_csv(PROCESSED / "top_products.csv", index=False)

reorder_by_dept = run_sql("02_reorder_rate_by_department.sql")
reorder_by_dept.to_csv(PROCESSED / "reorder_rate_by_department.csv", index=False)

orders_by_dow = run_sql("03_orders_by_dow.sql")
orders_by_dow.to_csv(PROCESSED / "orders_by_dow.csv", index=False)

orders_by_hour = run_sql("04_orders_by_hour.sql")
orders_by_hour.to_csv(PROCESSED / "orders_by_hour.csv", index=False)

heat = run_sql("05_dow_x_hour_heatmap.sql")
heat.to_csv(PROCESSED / "dow_x_hour.csv", index=False)

In [15]:
print("Top Products:")
print(top_products.head(10))
print("\nReorder Rate by Department:")
print(reorder_by_dept)
print("\nOrders by Day of Week:")
print(orders_by_dow)
print("\nOrders by Hour:")
print(orders_by_hour.head(10))
print("\nDay of Week x Hour Heatmap (first 10 rows):")
print(heat.head(10))

Top Products:
      product_name  units_sold  orders_count
0  Organic Bananas          15             6
1      Pasta Penne           7             3
2       Whole Milk           6             4
3     Strawberries           5             3
4     Avocado Hass           4             3
5    Ground Coffee           3             3
6      Almond Milk           3             2
7   Chicken Breast           3             2
8       Brown Eggs           2             2
9     Greek Yogurt           2             2

Reorder Rate by Department:
  department  reorder_rate  line_items
0    Produce        0.7500          12
1     Pantry        0.6667           3
2      Dairy        0.6250           8
3  Beverages        0.6000           5
4       Meat        0.5000           2

Orders by Day of Week:
   order_dow dow_name  total_orders
0          0      Sun             6
1          1      Mon             2
2          2      Tue             6
3          3      Wed             4
4          4      Thu             5
5          5      Fri             5
6          6      Sat             2

Orders by Hour:
   order_hour  total_orders
0           8             2
1           9             4
2          10             4
3          11             4
4          12             3
5          13             1
6          14             3
7          15             1
8          16             3
9          17             1

Day of Week x Hour Heatmap (first 10 rows):
   order_dow  order_hour  total_orders
0          0           9             1
1          0          10             2
2          0          11             1
3          0          12             1
4          0          15             1
5          1          16             1
6          1          18             1
7          2           9             2
8          2          10             1
9          2          11             1